<header class="header">
  <nav class="header-nav group">

    <ul class="header-list group">
      <li><a href="#" class="header-home">Feed</a></li>
      <li><a href="#search">Search</a></li>
      <li><a href="#upload">Upload</a></li>
      <li><a href="#user/<%= current_user.id %>">My Profile</a></li>
    </ul>

    <!-- <nav class="user-img">
      <a><%= current_user.username %></a>
      <ul class="user-settings">
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
      </ul>
    </nav> -->

    <a href="#" class="user-img">
      <%= button_to "Sign Out", session_url, :method => :delete %></a>

  </nav>
</header>

<div id="main">
  <!-- this is where were rendering backbone -->
</div>

<script>
  $(document).ready(function(){
    Vinstagram.initialize();
  });
</script>
