<header class="nav">
  <!-- <a class="home" href="#">Home</a> -->
  <a class="logo" href="#">Vinstagram</a>
</header>

<div class="backdrop">

  <div id="main">
    <!-- this is where were rendering backbone -->
  </div>

</div>

<% if signed_in? %>
  Signed In As: <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% end %>

<script></script>
