<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>

<header class="header">
  <nav class="header-nav group">

    <ul class="header-left-list group">
      <li><a href="#"><i class="fa fa-home"></i></a></li>
      <li><a href="#search"><i class="fa fa-search"></i></a></li>
      <li><a href="#upload"><i class="fa fa-camera-retro fa-lg"></i></a></li>
    </ul>

    <section class="header-right-list group">

        <a href="#user/<%= current_user.id %>" class="header-right">

          <div class="header-name">
            <%= current_user.username %>
          </div>
        </a>

        <ul class="dropdown">
          <li><a href="#user/<%= current_user.id %>">My Profile</a></li>
          <li><a href="#settings">Settings</a></li>
          <li><%= link_to "Sign out", session_url, :method => :delete %></li>
        </ul>

    </section>

    <div class="header-logo">
      <a href="#">Vinstagram</a>
    </div>

  </nav>
</header>

<div id="main">
  <!-- this is where were rendering backbone -->
</div>

<footer class="footer">
</footer>

<script>
  $(document).ready(function(){
    Vinstagram.initialize();
  });
</script>
