<title>Sign In! Vinstagram</title>

<div class="welcome">

  <div class="form-header">
    <div class="logo">Vinstagram</div>
  </div>

  <div class="form group">

    <% if flash.now[:errors] %>
      <%= flash.now[:errors][0] %>
      <br><br>
    <% end %>

    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <section class="sign-first">
        <label>Username:</label>
        <input tabindex="1" type="text" name="user[username]" value="">
      </section>

      <section class="sign-nth">
        <label>Password:</label>
        <input tabindex="2" type="password" name="user[password]" value="">
      </section>

      <section class="sign-bottom group">
        <label>
          Don't Have An Account Yet? <br>
          <u><%= link_to "Sign Up!", new_user_url %></u>
        </label>
        <input tabindex="3" type="submit" name="name" value="Log In!">
      </section>

    </form>
  </div>

  <div class="guest-login group">
    <div class="top-label">
      Don't want to create an account yet?
    </div>

    <label class>
      Click here to log in as a guest!
    </label>
    <input tabindex="4" class="guest-login-button" type="button" name="name" value="Guest Login">
  </div>

  <!-- <br> -->
  <!-- <div class="Or"> -->
  <!-- </div> -->
  <!-- <br> -->

<div class="google-omni">
  <a href="/auth/google_oauth2" id="google-sign-in">
    <img src="https://developers.google.com/accounts/images/sign-in-with-google.png" alt="" />
  </a>
</div>


</div>
