<br><br>

<label>
  Upload Profile Picture <br>
  <input id='input-picture-file' type='file' name='picture'>
</label>
<br><Br>
<input type="submit" value="Save!">

<!-- <img src="" id="picture-preview"> -->

<br><br><br><br>


<button class=open_upload>Create New Post!</button>
<div class="upload_form">
</div>
