<% if (user.escape('is_following') === 'true') { %>

  <button id='follow-buton' class="unfollow-button">Following</button>

<% } else { %>

  <button id='follow-buton' class="follow-button">+ Follow</button>

<%  } %>
