<section class="settings">

  <title>Settings</title>

  <h2>Settings</h2>

    <label>
      Upload Profile Picture <br>
      <input id="input-picture-file" type="file" name="picture">
    </label>

    <br><br>

    <img class="pic-preview" src="" id="picture-preview">

    <br><br>
    <input type="submit" value="Save!">
    <br>

    <br><br>

    <!-- showing old picture OR default picture -->
    <img class="pic-preview" src="<%= user.attributes.picture_url %>" id="picture-preview">

</section>
