<section class="settings">

  <h2>Settings</h2>

  <label>
    Upload Profile Picture <br>
    <input id="input-picture-file" type="file" name="picture">
  </label>
  <br><Br>


    <img src="" id="picture-preview">
    <br><br>
    <input type="submit" value="Save!">
    <br>

</section>
