<section class="settings group">

  <title>Settings</title>

  <section class='settings-title'><u>
    Settings
  </u></section>

  <section class="settings-bottom">

    <section class="left-pane"><br><br>
      Current Profile Picture:
      <br>
      <img class="current-pic" src="<%= user.attributes.picture_url %>">
    </section>

    <section class="right-pane">
      Change Profile Picture <br>
      <input id="input-picture-file" type="file" name="picture">
      <br><br>
      <img class="pic-preview" src="" id="picture-preview">
      <br><br>
      <input type="submit" value="Save!">
    </section>

  </section>

</section>
