<title>Search</title>

<section class="search">

  <section class="search-top">

    <input placeholder=" Search for users.." type="text" class="query" value="<%= collection._query %>"> <br><br>

    <input type="submit" class="run_search">

    <input placeholder=" Inactive" type="text" name="name" value="">

  </section>

  <ul class="search-results group">
  </ul>

</section>
