<div class="search">

  <h1>Search for Users</h1>

  <input type="text" class="query" value="<%= collection._query %>"> <br><br>
  <input type="submit" class="search">

  <br><br>

  <!-- <a class="next-page">Next Page</a> -->

  <ul class="search-results">
  </ul>

</div>
