
<h1>Search!</h1>

<input type="text" class="query" value="<%= collection._query %>"> <br>
<input type="submit" class="search">

<br><br>

<a class="next-page">Next Page</a>
<ul class="search-results"></ul>
