<section class="search">

  <section class="search-top">

    <title>Search</title>

    <!-- <h1>Search for Users</h1> -->

    <input placeholder="Search for users.." type="text" class="query" value="<%= collection._query %>"> <br><br>

    <input type="submit" class="run_search">

  </section>

  <ul class="search-results group">
  </ul>

</section>
