<title>Vinstagram</title>

<% if(posts.length > 0) { %>
  <ul class='feed'></ul>
<% } else { %>
  <section class="no-posts">
    There Aren't Any Posts To Display :( <br><br>
    It's Probably Because You Have No Friends... <br><br>
    Try <a href="#search"><u>Searching</u></a> For Some!
  </section>
<% } %>

<section class="guest-modal" id="guest-modal">
  Hello, and thank you for visiting my site!
  <br><br>
  This guest account has 8 stock photos which you won't be able to delete,
  but feel free to add/crop additional photos, delete those photos, add/delete
  comments, and change the bio.
  <br><br>
  If you would like to test out our 'following users' feature, I hear
  Vin has a bunch of pictures posted!  Go and 'follow' him, and after
  you do just head back to home to see your feed now filled with all
  of your pictures and Vin's pictures.
  <br><br>
  If you would like to see my personal site, you can check it out here
  <u><a href="http://www.VincentCarbonaro.US">VincentCarbonaro.US</a></u>!
  <br><br>

  <section class="explanation2">
    ***************************************************
    <br><br>
    Vinstagram is a portfolio project by a web developer
    <br><br>
    it has no affiliation with Instagram or Facebook
    <br><br>
    It is not intended for any profit or sale
    <br><br>
    ****************************************************
  </section>

</section>
