<title>Vinstagram</title>

<% if(posts.length > 0) { %>
  <ul class='feed'></ul>
<% } else { %>
  <section class="no-posts">
    There Aren't Any Posts To Display :( <br><br>
    It's Probably Because You Have No Friends... <br><br>
    Try <a href="#search"><u>Searching</u></a> For Some!
  </section>
<% } %>

<section class="guest-modal">
  Hello, and thank you for visiting my site!
  <br><br>
  This guest account has 8 stock photos which you won't be able to delete,
  but feel free to add/crop additional photos, delete those photos, add/delete
  comments, and change the bio.
  <br><br>
  If you would like to test out following users, I hear Vin has a bunch
  of pictures posted!  After you do, head back to home to see your feed now
  filled with all of your pictures and Vin's pictures.
  <br><br>
  If you would like to see my personal site, you can check it out
  <u><a href="http://www.VincentCarbonaro.US">VincentCarbonaro.US</a></u>!

</section>
