<title>Vinstagram</title>

<% if(posts.length > 0) { %>
  <ul class='feed'></ul>
<% } else { %>
  <section class="no-posts">
    There Aren't Any Posts To Display :( <br><br>
    It's Probably Because You Have No Friends... <br><br>
    Try <a href="#search"><u>Searching</u></a> For Some!
  </section>
<% } %>
