<title>Post Show Page</title>

<h2>Post Show</h2>

<a href="#/user/<%= post.author().escape('id') %>"><%= post.author().escape('username') %></a>
<%= post.escape('Time_Ago') %>

<br><br>
<%= post.escape('text') %>


<div class="user_options">
</div>
