<title>Post Show Page</title>

<h2>Post Show</h2>

<a href="#/user/<%= post.author().escape('id') %>"><%= post.author().escape('username') %></a>
<br>
Posted <%= post.escape('Time_Ago') %>

<br>
<%= post.escape('text') %>

<br>
<button name="button">Delete Post</button>
<br><br>
