<div class="upload">
  <title>Upload Post</title>

  <input class="select-a-photo" type="button" name="name" value="Select a Photo">

  <form class="post_form" enctype='multipart/form-data'>

    <input id="input-post-file" type="file" name="picture">

    <section class="post-pic-box">
        <img class="post-pic-preview" src="" id="picture-preview">
    </section>

    <input type="hidden" id="crop_x" value="" name='post[crop_x]'>
    <input type="hidden" id="crop_y" value="" name='post[crop_y]'>
    <input type="hidden" id="crop_w" value="" name='post[crop_h]'>
    <input type="hidden" id="crop_h" value="" name='post[crop_w]'>

    <section class="caption-and-submit">
      <textarea placeholder="Enter a caption..." class="test-area" name="post[text]" rows="4" cols="30" value=""></textarea>
      <input class="share-button" type="submit" value="Share Post!">
    </section>

  </form>
</div>
