<section class="upload-backdrop">
  <div class="upload">
    <title>Upload Post</title>

    <section class='upload-title'>
      <u>Upload a Post!</u>
    </section>

    <form class="post_form">

      <section class="post-image-select">
        Select a File To Upload <br>
        <input id="input-picture-file" type="file" name="picture">
      </section>

      <img class="post-pic-preview" src="" id="picture-preview">

      <br><br>

      <section class="caption-and-submit">

        Write a Caption...<br>
        <textarea name="post[text]" rows="8" cols="40" value=""></textarea>

        <input type="submit" value="Share">

      </section>
    </form>
  </div>
</section>
