<section class="upload-backdrop">
  <div class="upload">
    <title>Upload Post</title>

    <section class='upload-title'>
      <u>Upload a Post!</u>
    </section>

    <form class="post_form">

      <section class="post-image-select">
        Select a File To Upload <br>
        <input id="input-picture-file" type="file" name="picture">
      </section>

      <section class="post-pic-box">
        <img class="post-pic-preview" src="" id="picture-preview">
      </section>

      <section class="caption-and-submit">

        <textarea placeholder="Enter a caption..." class="test-area" name="post[text]" rows="4" cols="30" value=""></textarea>

        <input class="share-button" type="submit" value="Share Post!">

      </section>
    </form>
  </div>
</section>
