<title>Upload Post</title>

<div class="upload">

  <h3>Upload Post</h3>

  <form class="post_form">

    <label>
      Image <br>
      <input id="input-picture-file" type="file" name="picture">
    </label>

    <br><br>

    <label>
      Text <br>
      <input type="text" name="post[text]" value="">
    </label>

    <br><br>

    <input type="submit" value="Create Post">

  </form>

  <br>
  <img class="pic-preview" src="" id="picture-preview">

</div>
