<title>Upload Post</title>

<div class="upload">

  <h3>Upload Post</h3>

  <form class="post_form" enctype="multipart/form-data">

    <label>
      Image <br>
      <input type="file" name="post[img]" value="">
    </label>

    <br><br>

    <label>
      Text <br>
      <input type="text" name="post[text]" value="">
    </label>

    <br><br>

    <input type="submit" value="Create Post">

  </form>

</div>
