<title>Sign Up! Vinstagram</title>

<div class="welcome">

  <div class="form-header">
    <div class="logo">Vinstagram</div>
  </div>  
  <div class="form">

    <% if flash[:errors] %>
      <%= flash[:errors].join("<br>").html_safe %>
      <br><br>
    <% end %>

    <form action="<%= users_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label> Username:
        <input type="text" name="user[username]" value="">
      </label>

      <br>
      <br>

      <label> Email:
      <input type="text" name="user[email]" value="">
      </label>

      <br>
      <br>

      <label> Password:
      <input type="password" name="user[password]" value="">

      <br>
      <br>

      <input type="submit" name="name" value="Sign Up!">

    </form>

    <br><br><br>

    Already Registered? <br>
    <%= link_to "Sign In!", new_user_url %>

  </div>
</div>
