.welcome{
  border: 1px solid gray;
  border-radius: 1%;
  background: white;
  position: absolute;
  width: 415px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.welcome .form-header{
  background: #517fa4;
  color: white;
  height: 55px;
  // font-family: cursive;
  font-size: 20px;
}

.welcome .logo {
  font-family: SweetheartScript-limited;
  padding: 5px;
  line-height: 12px;
  font-size: 30px;
  left: 47%;
  margin: 14px 0 0 -48px;
  position: absolute;
}

.welcome .form {
  padding: 25px;
}

.form {
}

.sign-first {
  display: block;
  height: 35px;
}

.sign-first label {
  line-height: 35px;
}

.sign-first input {
  float: right;
  border: 1px solid #cacaca;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  padding: 5px 5px 5px 10px;
}

.sign-nth {
  padding-top: 15px;
  display: block;
  height: 35px;
}

.sign-nth label {
  line-height: 35px;
}

.sign-nth input {
  float: right;
  border: 1px solid #cacaca;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  padding: 5px 5px 5px 10px;
}

.sign-bottom {
  margin-top: 25px;
  width: 100%;
}

.sign-bottom label {
  padding-top: 10px;
}

.sign-bottom input {
  float: right;
  color: white;
  height: 35px;
  width: 75px;
  font-size: 15px;
  background: green;
  border-radius: 5px;
  opacity: .8;
}

.sign-bottom input:hover {
  opacity: .5;
}

.sign-bottom label {
  float: left;
}
