@font-face {
  font-family: "SweetheartScript-limited";
  src: font-url('SweetheartScript-limited.ttf') format('truetype');
}

#main{
  padding-top: 51px;
}

.backdrop {
  min-height: 100%;
}

.header {
  background: #517fa4;
  color: white;
  border-bottom: 1px solid #cacaca;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: block;
}

.header-nav {
  margin: auto;
  max-width: 800px;
  border-left: 1px solid #cacaca;
}

.header-left-list a {
  border-right: 1px solid #cacaca;
}

.header-nav a:hover {
  opacity: .4;
  background: white;
  color: #517fa4;
}

.header-left-list a {
  font-size: 26px; //only applies to 'my profile'
  display: block;
  padding: 5px 10px;
  height: 40px;
  line-height: 40px;
}

a > .fa-home {
  font-size: 38px;
}

a > .fa-search {
  font-size: 31px;
}

a > .fa-camera-retro {
  font-size: 35px;
}

a > .fa-cog {
  font-size: 32px;
}

.header-left-list {
  float: left;
}

.header-left-list > li {
  float: left;
}

.header-nav .header-logo {
  width: 156px;
  display: inline;
  line-height: 41px;
  height: 51px;
  font-size: 30px;
  letter-spacing: 2px;
  display: inline-block;
  margin:0 auto;
  width:100px;
  height: 20px;
}

.header-logo a {
  font-family: 'SweetheartScript-limited';
  padding: 10px 5px;
  border-radius: 5px;
}

.header-right {
  height: 40px;
  padding: 5px 10px;
  float: right;
  border-left: 1px solid #cacaca;
  cursor: pointer;
  cursor: hand;
  display: block;
}

.header-right-list {
  float: right;
  border-right: 1px solid #cacaca;
}

.header-right img {
  float: left;
  height: 100%;
  width: auto;
}

.header-name {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
}

////////////////////////

.dropdown > li {
  float: left;
  width: 100%;
  display: none;
}

.dropdown {
  position: absolute;
  top: 50px;
}

.header-right:hover  {
  display: block;
}

.header-right-list:hover li {
  display: block;
  background: #517fa4;
}

.dropdown {
  width: 107px;
}

.dropdown a {
  border: none;
  padding: 5px 10px;
  display: block;
  text-align: center;
}
