.header {
  background: #517fa4;
  color: white;
  border-bottom: 1px solid #cacaca;
  position: fixed;
  margin: auto;
  width: 100%;
  z-index: 3;
}

.header a {
  font-size: 26px;
  display: block;
  padding: 5px 10px;
  border-right: 1px solid #cacaca;
}

a > .fa-home {
  font-size: 35px;
}

a > .fa-search {
  font-size: 35px;
}

a > .fa-camera-retro {
  font-size: 35px;
}

a > .fa-cog {
  font-size: 32px;
}

.header-nav {
  margin: auto;
  width: 900px;
  border-left: 1px solid #cacaca;
}

.header-list {
  float: left;
}

.header-list > li {
  float: left;
}

/*This is the image icon*/
.user-img {
  float: right;
  border-left: 1px solid #cacaca;
}
/*
.settings {
 display: none;
 position: absolute;
 left: -1px;
 overflow: hidden;
 color: #cacaca;
 background: orange;
 width: 250px;
}

.user-img:hover {
 background: green;
}

.user-img:hover .settings {
 background: green;
}*/

#main{
  padding-top: 38px;
}

.backdrop {
  background: whitesmoke;
  min-height: 100%;
}
