.feed {
   margin: auto;
   width: 578px;
   border-left: 2px solid #cacaca;
   border-right: 2px solid #cacaca;
   border-bottom: 2px solid #cacaca;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   background: #ddd;
   padding-top: 25px;
   height: 100%;
}

.feed li {
   margin: auto;
   width: 510px;
   border-radius: 3px;
   border: 1px solid #cacaca;
   margin-bottom: 35px;
}

.feed-item-top-bar{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #517fa4;
  background: white;
  padding: 20px;
  border-bottom: 1px solid #cacaca;
}

.feed-item-user {
   float: left;
   font-size: 16px;
 }

.feed-item-time {
   float: right;
   font-size: 16px;
 }

.feed-item-image {
   height: 510px;
   width: 510px;
   display: block;
   overflow: false;
}

.feed-item-image img {
  max-height: 510px;
  max-width: 510px;
  display: block;
}

.feed-item-text {
   background: white;
   border-top: 1px solid #cacaca;
   padding: 10px 0px 0px 15px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
 }

 .no-posts{
   margin-top: 100px;
   text-align: center;
   font-size: 46px;
 }
