.feed {
   margin: auto;
   width: 578px;
   border-left: 2px solid #cacaca;
   border-right: 2px solid #cacaca;
   border-bottom: 2px solid #cacaca;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   background: #ddd;
   padding-top: 25px;
   height: 100%;
}

.feed li {
  color: #1c5380;
   margin: auto;
   width: 510px;
   border-radius: 3px;
   border: 1px solid #cacaca;
   margin-bottom: 35px;
}

.feed-item-top-bar{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  padding: 10px;
  border-bottom: 1px solid #cacaca;
}

.feed-item-user-img{
  float: left;
  height: 40px;
}

.feed-item-user {
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  float: left;
  font-size: 16px;
  display: inline;
 }

 .feed-item-user:hover {
   background: #cacaca;
   color: white;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }

.feed-item-time {
  line-height: 40px;
  padding-right: 15px;
   float: right;
   font-size: 16px;
 }

.feed-item-image {
   height: 510px;
   width: 510px;
   display: block;
   overflow: false;
}

.feed-item-image img {
  max-height: 510px;
  max-width: 510px;
  display: block;
}

.like-bar {
  border-top: 1px solid #cacaca;
  background: white;
  height: 40px;
}

.like-icon{
  float: left;
  padding: 7px 10px;
  font-size: 20px;
  border-right: 1px solid #cacaca;
  cursor: pointer;
  cursor: hand;
}

.like-icon:hover {
  background: pink;
}

#liked-icon{
  color: red;
}

#unliked-icon {
  color: #cacaca;
}

.pending-like {
  float: left;
  padding: 7px 10px;
  font-size: 20px;
  border-right: 1px solid #cacaca;
  opacity: .4;
}

.like-count{
  float: left;
  font-size: 18px;
  height:40px;
  line-height: 40px;
  padding-left: 10px;
}

.feed-item-text {
   background: white;
   border-top: 1px solid #cacaca;
   padding: 5px 10px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   display: none;
 }

.comment-form {
  border-top: 1px solid #cacaca;
  padding: 10px;
  background: white;
}

.comment-form input {
  width: 465px;
  height: 15px;
  font-size: 15px;
  padding: 10px;
}

 .no-posts{
   margin-top: 100px;
   text-align: center;
   font-size: 46px;
 }
