
.user-show {
  width: 860px;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
}

.user-show {
  width: 860px;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
}

.user-show-header {
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

.user-show-item{
  float: left;
  display: block;
  height: 156px;
  width: 156px;
  border: 1px solid black;
  padding: 3px;
}
