.user-show-backdrop{
  margin: auto;
  width: 1000px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: darkgray;
}

.user-show {
  background: white;
  width: 940px;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.user-show-top {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: auto;
  max-width: 500px;
  padding: 25px;
}

.user-show-pic{
  float: left;
  max-width:156px;
  max-height:156px;
  width: auto;
  height: auto;
  height: 156px;
  width: 156px;
}

.user-show-username{
  text-align: center;
  width: 150px;
  float: left;
  margin-left: 25px;
  font-weight: bold;
  font-size: 24px;
}

.user-show-follow-button{
  float: left;
}

.follow-button{
  background: green;
  width: 100px;
}

.user-show-bio{
  float: left;
  width: 300px;
  word-wrap: break-word;
  margin-left: 25px;
  margin-top: 15px;
  // text-align: center;
  textarea {
    border: none;
    resize: none;
  }
}

.user-show-text {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
}

table {
  margin-top:5px;
  border-collapse: separate;
  width: 300px;
  border: 1px solid black;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

tr {
  text-align: center;
}

.user-show-bottom {
  border-top: 1px solid black;
  padding-bottom: 25px;
}

.user-show img {
  display: block;
  max-width:156px;
  max-height:156px;
  width: auto;
  height: auto;
  border: 1px solid black;
}

.user-show-item {
  float: left;
  display: block;
  height: 156px;
  width: 156px;
  border: 1px solid black;
  margin-left: 25px;
  margin-top: 25px;
}
