#user-show .backdrop {
  margin: auto;
  max-width: 1000px;
  border-bottom: 2px solid #cacaca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;
  background: #ddd;
}

#user-show .top {
  background: white;
  max-width: 980px;
  margin: auto;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

#user-show .middle {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  max-width: 500px;
  padding: 25px;
  margin: auto;
}

#user-show .bottom {
  border-top: 1px solid #cacaca;
  background: white;
  background: #cacaca;
  width: 100%;
  margin: auto;
}

#user-show .bottom ul {
  max-width: 870px;
  margin: auto;
  padding-bottom: 15px;
}

@media (max-width: 880px) {
  #user-show .bottom ul {
    max-width: 720px;
  }
}

@media (max-width: 720px) {
  #user-show .bottom ul {
    max-width: 540px;
  }
}

@media (max-width: 553px) {
  #user-show .bottom ul {
    max-width: 362px;
  }
}

#user-show .item {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  height: 156px;
  width: 156px;
}

#user-show .item img {
  border: 3px solid white
}

#user-show .user-pic {
  width: 100%;
  margin: auto;
  text-align: center;
}

#follow-button:hover {
  opacity: .4;
}

.unfollow-button {
  color: white;
  letter-spacing: 1px;
  width: 100px;
  font-size: 12px;
  background: green;
}

.follow-button{
  width: 100px;
  border: 1px solid blue;
  background: white;
  color: blue;
  font-size: 14px;
}

#user-show .username {
  font-weight: bold;
}

#user-show .user-pic img{
    max-width:156px;
    max-height:156px;
}

#user-show .username {
    font-weight: bold;
    text-align: center;
    // width: 175px;
    width: 100%;
    // float: left;
    // margin-left: 25px;
    font-size: 16px;
    overflow: hidden;
  }

// .user-show-bio{
//   float: left;
//   width: 300px;
//   word-wrap: break-word;
//   margin-left: 25px;
//   margin-top: 15px;

  textarea {
    border: none;
    resize: none;
    font-size: 14px;
    font-color: black;
    height: 51px;
    width: 300px;
    // display: block;
    //  margin-left: auto;
    //  margin-right: auto;
  }

#user-show .bio {
  background: red;
  // margin: auto;
  text-align: center;
  // height: 500px;
  // margin: auto;
  // text-align: center;
}

// .user-show-text {
//   float: left;
//   margin-left: 25px;
//   margin-top: 10px;
// }

table {
  margin-top:5px;
  border-collapse: separate;
  width: 300px;
  border: 1px solid black;
  font-size: 14px;
  margin: auto;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

tr {
  text-align: center;
}
