.user-show-backdrop{
  margin: auto;
  width: 1000px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: darkgray;
}

.user-show {
  background: white;
  width: 940px;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.user-show-top {
  margin: auto;
  width: 618px;
  padding: 25px;
}

.user-show-pic{
  float: left;
  max-width:156px;
  max-height:156px;
  width: auto;
  height: auto;
  height: 156px;
  width: 156px;
}

.user-show-bio{
  float: left;
  height: 156px;
  width: 312px;
  margin-left: 25px;
}

.user-show-text {
  margin-left: 25px;
  float: left;
  text-align: left;
}

.user-show-bottom {
  border-top: 1px solid black;
  padding-bottom: 25px;
}

.user-show img {
  display: block;
  max-width:156px;
  max-height:156px;
  width: auto;
  height: auto;
}

.user-show-item {
  float: left;
  display: block;
  height: 156px;
  width: 156px;
  border: 1px solid black;
  margin-left: 25px;
  margin-top: 25px;
}
