.indy-post-show-backdrop {
  padding: 25px 0;
  margin: auto;
  width: 578px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #ddd;
}

.post-show-item {
  color: #1c5380;
  border-radius: 3px;
  margin: auto;
  width: 510px;
  border: 1px solid #cacaca;
}

.post-show-top-bar{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  padding: 10px;
  border-bottom: 1px solid #cacaca;
}

.post-show-user {
  padding-left: 10px;
  line-height: 40px;
  height: 40px;
  float: left;
  font-size: 16px;
  display: inline;
 }

 .post-show-time {
   line-height: 40px;
   padding-right: 15px;
    float: right;
    font-size: 16px;
}

.post-show-image {
   height: 510px;
   width: 510px;
   margin: auto;
 }

.post-show-text {
  border-top: 1px solid #cacaca;
  background: white;
  border: 1px 1px 1px 1px solid black;
  padding: 10px 0px 20px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
