.indy-post-show {
  padding-top: 35px;
  margin: auto;
  margin: auto;
  margin-top: 25px;
  width: 510px;
  margin-bottom: 25px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
