.indy-post-show-backdrop {
  padding: 35px 0;
  margin: auto;
  width: 578px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: darkgray;
}

.post-show-item {
  border-radius: 3px;
  margin: auto;
  width: 510px;
  border: 1px solid black;
}

.post-show-top-bar{
  border: 1px 1px 1px 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #517fa4;
  background: white;
  padding: 20px;
  border-bottom: 1px solid black;
}

.post-show-user {
   float: left;
   font-size: 16px;
 }

 .post-show-time {
  float: right;
  font-size: 16px;
}

.post-show-image {
   height: 510px;
   width: 510px;
   margin: auto;
 }

.post-show-text {
  border-top: 1px solid black;
  background: white;
  border: 1px 1px 1px 1px solid black;
  padding: 10px 0px 0px 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
