.upload-backdrop {
  width: 650px;
  margin: auto;
  padding-bottom: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: darkgray;
}

.upload {
  width: 550px;
  margin: auto;
  background: white;
  padding: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.upload-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.post-image-select {
  margin: 25px 0 15px 45px;
  margin-left: 45px;
}

.post-pic-preview {
  height: 510px;
  width: 510px;
  display: block;
  border: 1px solid black;
  margin: auto;
  border-radius: 3px;
}

.caption-and-submit {
  margin: 25px 20px;
}

.caption-and-submit textarea {
  font-size: 16px;
  resize: none;
  background: lightgray;
}

.text-area {
  float: left;
}

.share-button {
  float: right;
  background: #517fa4;
  height: 50px;
  width: 180px;
  font-size: 24px;
}
