.search-backdrop {
  width: 650px;
  margin: auto;
  padding-bottom: 30px;
  border-left: 2px solid #cacaca;
  border-right: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #ddd;
}

.search {
  width: 550px;
  margin: auto;
  background: white;
  padding: 25px 25px 25px 25px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-top {
}

.users-search {
  padding: 10px;
  width: 255px;
  height: 50px;
  float: left;
}

.tags-search {
  width: 255px;
  border: none;
  padding: 10px;
  height: 50px;
  float: left;
}

.search-top input {
  margin: auto;
  display: block;
  width: 220px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border: 3px solid #cacaca;
}

.search-results {
  text-align: center;
}

.search-results li {
  float: left;
  width: 273px;
}

.search-results li:first-child {
  border: 1px solid #cacaca;
  margin-top: 25px;
}

.search-results li:nth-child(2) {
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  margin-top: 25px;
}

.search-results li:nth-child(2n+3) {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.search-results li:nth-child(2n+4) {
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.search-results li:nth-child(n):hover {
  background: #517fa4;
}

.search-item img {
  display: block;
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin: 5px;
}

.search-item-user-name {
  text-align: center;
  float: left;
  width: 200px;
}
