.settings-backdrop{
  width: 718px;
  margin: auto;
  background: darkgray;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 35px;
}

.settings{
  width: 598px;
  margin: auto;
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
}

.settings-title{
  text-align: center;
  font-size:36px;
  font-weight: bold;
}

.pic-preview{
  border: 1px solid black;
  height: 156px;
  width: 156px;
}

.upload-pic-preview{
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin: auto;
  display: block;
}
