.settings-backdrop{
  width: 718px;
  margin: auto;
  background: darkgray;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 35px;
}

.settings{
  width: 598px;
  margin: auto;
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
}

.settings-title{
  text-align: center;
  font-size:36px;
  font-weight: bold;
  margin-bottom: 25px;
}

.settings-bottom{
  margin:auto;
  width: 598px;
}

.left-pane{
  float: left;
  padding-top: 3px;
  padding-left: 90px;

}

.right-pane{
  float: right;
}

.current-pic{
  border: 1px solid black;
  height: 156px;
  width: 156px;
}

.pic-preview{
  border: 1px solid black;
  height: 156px;
  width: 156px;
}
