.settings-backdrop{
  width: 718px;
  margin: auto;
  background: #ddd;
  border-left: 2px solid #cacaca;
  border-right: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 35px;
}

.settings{
  width: 598px;
  margin: auto;
  background: white;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 25px;
}

#input-picture-file{
  display:none;
}

.settings-title{
  text-align: center;
  font-size:36px;
  font-weight: bold;
  margin-bottom: 25px;
}

.settings-bottom{
  margin:auto;
  width: 598px;
}

.left-pane{
  float: left;
}

.right-pane{
  float: right;
}

.current-pic{
  border: 1px solid #cacaca;
  height: 156px;
  width: 156px;
  cursor: pointer;
  cursor: hand;
}
