/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* PHASE 0: Reset */

html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  /*color: inherit;*/
  text-align: inherit;
  /*text-decoration: inherit;*/
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*------------------------------------*/

body {
  background: #B2B2B2;
  min-height: 100%;
}

/*------------------------------------*/

header {
  background: #1c5380;
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

body .backdrop {
  margin: auto;
  padding-top: 25px;
  padding-left: 50px;
}

footer {
  background: #1c5380;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;   /* Height of the footer */
}

/**************************************/

/*commented out for now*/
header.nav .home {
  text-align: center;
  margin: 0 left;
  width: 100px;
  color: white;
  font-family: sans-serif;
  display: block;
}

header.nav .logo {
  text-align: center;
  margin: 0 auto;
  width: 100px;
  color: white;
  font-family: sans-serif;
  display: block;
}

div.main-form {
  background: white;
  padding: 20px;
  margin: auto;
  height: 235px;
  width: 402px;
  position: relative;
  width: 900px;
  margin: 0 auto;
}

#main > li  {
  text-align: center;
  width: 510px;
  display: block;
  margin: auto;
}
