// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
  border: 1px solid gray;
  border-radius: 1%;
  background: white;
  position: absolute;
  width: 402px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.welcome .form-header{
  background: #517fa4;
  color: white;
  height: 45px;
  // font-family: cursive;
  font-size: 20px;
}

.welcome .logo {
  height: 33px;
  left: 50%;
  margin: 14px 0 0 -48px;
  position: absolute;
}

.welcome .form {
  padding: 25px;
}

input.button {
  float: right;
  color: white;
  height: 40px;
  width: 75px;
  font-size: 15px;
  background: green;
}

section.options{
  float: left;
}
