<title>My Feed</title>

<h2>Posts Feed!</h2>

-- Currently Displays All Users --
<br><br>

<% users.each( function (user) { %>

  <a href="#/user/<%= user.id %>"><%= user.escape('username') %></a>
  <br><br>

  <% }) %>





  <br><br>
  
