<title>Upload Post</title>

<h2>Upload Post</h2>

<form class="post_form">
<!-- 
  <label>
    Image <br>
    <input type="file" name="post[img]" value="">
  </label>

  <br><br> -->

  <label>
    Text <br>
    <input type="text" name="post[text]" value="">
  </label>

  <br><br>

  <input type="submit" value="Create Post">

</form>
