<title><%= user.escape('username') %>'s' Profile</title>

<h1><strong><%= user.escape('username') %>'s Profile</strong></h1>

<br>
<label>
  Upload Profile Picture <br>
  <input id='input-picture-file' type='file' name='picture'>
</label>
<br><Br>
<input type="submit" value="Save!">

<!-- <img src="" id="picture-preview"> -->

<br><br>
Posts:
<br>
Followers:
<br>
Following:
<br>






<div class=open_upload>
  <br><br>
  <button>Create New Post!</button>
</div>
<div class="upload_form">
</div>



<h2>Your Posts!</h2>
<ul class="user_posts">
</ul>
